<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f403b506bfcb391989896f12b933d8b4 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_f403b506bfcb391989896f12b933d8b4" ></div>
        
</body>
<script>
    
    
            var map_f403b506bfcb391989896f12b933d8b4 = L.map(
                "map_f403b506bfcb391989896f12b933d8b4",
                {
                    center: [0, 0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_e72f36721d4aef591ca8dfeab9f76c45 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f403b506bfcb391989896f12b933d8b4);
        
    
            var marker_1cde422fa9e3925bf59874d77afdf8c9 = L.marker(
                [12.974532, 79.164118],
                {}
            ).addTo(map_f403b506bfcb391989896f12b933d8b4);
        
    
        var popup_fce07bf86070781cc8c9467536bc16a4 = L.popup({"maxWidth": "100%"});

        
            
                var html_ebb245193b3bf0706ce6bcfe5dbd9159 = $(`<div id="html_ebb245193b3bf0706ce6bcfe5dbd9159" style="width: 100.0%; height: 100.0%;"><i>Next stop: Lorem ipsum</i></div>`)[0];
                popup_fce07bf86070781cc8c9467536bc16a4.setContent(html_ebb245193b3bf0706ce6bcfe5dbd9159);
            
        

        marker_1cde422fa9e3925bf59874d77afdf8c9.bindPopup(popup_fce07bf86070781cc8c9467536bc16a4)
        ;

        
    
    
            marker_1cde422fa9e3925bf59874d77afdf8c9.bindTooltip(
                `<div>
                     Bus N block MH
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a0e018bf2f3880761b8b83c69ef933e4 = L.marker(
                [12.973603, 79.164168],
                {}
            ).addTo(map_f403b506bfcb391989896f12b933d8b4);
        
    
        var popup_3606f4dfda1e13d817df44137d406c21 = L.popup({"maxWidth": "100%"});

        
            
                var html_daebe9eb1121a29b52be2396ddb0d5d9 = $(`<div id="html_daebe9eb1121a29b52be2396ddb0d5d9" style="width: 100.0%; height: 100.0%;"><i>Next stop: Lorem ipsum</i></div>`)[0];
                popup_3606f4dfda1e13d817df44137d406c21.setContent(html_daebe9eb1121a29b52be2396ddb0d5d9);
            
        

        marker_a0e018bf2f3880761b8b83c69ef933e4.bindPopup(popup_3606f4dfda1e13d817df44137d406c21)
        ;

        
    
    
            marker_a0e018bf2f3880761b8b83c69ef933e4.bindTooltip(
                `<div>
                     Bus Q block MH
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_662509bc4463d8315413f5beb57609b4 = L.marker(
                [12.973053, 79.163767],
                {}
            ).addTo(map_f403b506bfcb391989896f12b933d8b4);
        
    
        var popup_bb752a113fea33763a57d04188e1e962 = L.popup({"maxWidth": "100%"});

        
            
                var html_8c5ab340b76208e15527323b34268ddd = $(`<div id="html_8c5ab340b76208e15527323b34268ddd" style="width: 100.0%; height: 100.0%;"><i>Next stop: Lorem ipsum</i></div>`)[0];
                popup_bb752a113fea33763a57d04188e1e962.setContent(html_8c5ab340b76208e15527323b34268ddd);
            
        

        marker_662509bc4463d8315413f5beb57609b4.bindPopup(popup_bb752a113fea33763a57d04188e1e962)
        ;

        
    
    
            marker_662509bc4463d8315413f5beb57609b4.bindTooltip(
                `<div>
                     Bus M block MH
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f095112fd44185f38d722067b93e7091 = L.marker(
                [12.972849, 79.162815],
                {}
            ).addTo(map_f403b506bfcb391989896f12b933d8b4);
        
    
        var popup_666f0b3435b7510851b58ff73ba5aac9 = L.popup({"maxWidth": "100%"});

        
            
                var html_5364cfe3dac24d2178e69ec8083c3d0a = $(`<div id="html_5364cfe3dac24d2178e69ec8083c3d0a" style="width: 100.0%; height: 100.0%;"><i>Next stop: Lorem ipsum</i></div>`)[0];
                popup_666f0b3435b7510851b58ff73ba5aac9.setContent(html_5364cfe3dac24d2178e69ec8083c3d0a);
            
        

        marker_f095112fd44185f38d722067b93e7091.bindPopup(popup_666f0b3435b7510851b58ff73ba5aac9)
        ;

        
    
    
            marker_f095112fd44185f38d722067b93e7091.bindTooltip(
                `<div>
                     Bus L block MH
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_eaeffa29b30c5f19b2641c526a22cf99 = L.marker(
                [12.972682, 79.16163],
                {}
            ).addTo(map_f403b506bfcb391989896f12b933d8b4);
        
    
        var popup_fe33b5aec9b873edca4d651a40befc30 = L.popup({"maxWidth": "100%"});

        
            
                var html_bf0ec45211a087d48e2ccc3303d7b71e = $(`<div id="html_bf0ec45211a087d48e2ccc3303d7b71e" style="width: 100.0%; height: 100.0%;"><i>Next stop: Lorem ipsum</i></div>`)[0];
                popup_fe33b5aec9b873edca4d651a40befc30.setContent(html_bf0ec45211a087d48e2ccc3303d7b71e);
            
        

        marker_eaeffa29b30c5f19b2641c526a22cf99.bindPopup(popup_fe33b5aec9b873edca4d651a40befc30)
        ;

        
    
    
            marker_eaeffa29b30c5f19b2641c526a22cf99.bindTooltip(
                `<div>
                     Bus K block MH
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5a79c71662caaec74fa262c819c0efb4 = L.marker(
                [12.97376, 79.159644],
                {}
            ).addTo(map_f403b506bfcb391989896f12b933d8b4);
        
    
        var popup_d7a2295f057c47496bceaa4e48d1c6f3 = L.popup({"maxWidth": "100%"});

        
            
                var html_347384626ba6a9bf56c223b24b400ee4 = $(`<div id="html_347384626ba6a9bf56c223b24b400ee4" style="width: 100.0%; height: 100.0%;"><i>Next stop: Lorem ipsum</i></div>`)[0];
                popup_d7a2295f057c47496bceaa4e48d1c6f3.setContent(html_347384626ba6a9bf56c223b24b400ee4);
            
        

        marker_5a79c71662caaec74fa262c819c0efb4.bindPopup(popup_d7a2295f057c47496bceaa4e48d1c6f3)
        ;

        
    
    
            marker_5a79c71662caaec74fa262c819c0efb4.bindTooltip(
                `<div>
                     Bus G block MH
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d62866693b5ffeb44cdf0e614991f71e = L.marker(
                [12.973646, 79.15818],
                {}
            ).addTo(map_f403b506bfcb391989896f12b933d8b4);
        
    
        var popup_5bcd63f60d7dfb9c5cf2eabd322e9eca = L.popup({"maxWidth": "100%"});

        
            
                var html_26f99c6946da6424f821716f47162d8f = $(`<div id="html_26f99c6946da6424f821716f47162d8f" style="width: 100.0%; height: 100.0%;"><i>Next stop: Lorem ipsum</i></div>`)[0];
                popup_5bcd63f60d7dfb9c5cf2eabd322e9eca.setContent(html_26f99c6946da6424f821716f47162d8f);
            
        

        marker_d62866693b5ffeb44cdf0e614991f71e.bindPopup(popup_5bcd63f60d7dfb9c5cf2eabd322e9eca)
        ;

        
    
    
            marker_d62866693b5ffeb44cdf0e614991f71e.bindTooltip(
                `<div>
                     Bus F block MH
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_34e24132d0da01b7b29102b79a4d32ab = L.marker(
                [12.972888, 79.156673],
                {}
            ).addTo(map_f403b506bfcb391989896f12b933d8b4);
        
    
        var popup_c390fa3e7155425c2b21434e5af9db52 = L.popup({"maxWidth": "100%"});

        
            
                var html_e59c2556cb74c680088ba2d65caaffc8 = $(`<div id="html_e59c2556cb74c680088ba2d65caaffc8" style="width: 100.0%; height: 100.0%;"><i>Next stop: Lorem ipsum</i></div>`)[0];
                popup_c390fa3e7155425c2b21434e5af9db52.setContent(html_e59c2556cb74c680088ba2d65caaffc8);
            
        

        marker_34e24132d0da01b7b29102b79a4d32ab.bindPopup(popup_c390fa3e7155425c2b21434e5af9db52)
        ;

        
    
    
            marker_34e24132d0da01b7b29102b79a4d32ab.bindTooltip(
                `<div>
                     Bus A block MH
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b814efe6be257517cc52488c27dfaef1 = L.marker(
                [12.972051, 79.157641],
                {}
            ).addTo(map_f403b506bfcb391989896f12b933d8b4);
        
    
        var popup_9babcbb988ff2cb7f1dab767d6b13665 = L.popup({"maxWidth": "100%"});

        
            
                var html_1d0af2d632c018044592924a36d20ea6 = $(`<div id="html_1d0af2d632c018044592924a36d20ea6" style="width: 100.0%; height: 100.0%;"><i>Next stop: Lorem ipsum</i></div>`)[0];
                popup_9babcbb988ff2cb7f1dab767d6b13665.setContent(html_1d0af2d632c018044592924a36d20ea6);
            
        

        marker_b814efe6be257517cc52488c27dfaef1.bindPopup(popup_9babcbb988ff2cb7f1dab767d6b13665)
        ;

        
    
    
            marker_b814efe6be257517cc52488c27dfaef1.bindTooltip(
                `<div>
                     Bus H block MH
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_688fb9d3c9f168e90f1a63d29bd4718e = L.marker(
                [12.969779, 79.158385],
                {}
            ).addTo(map_f403b506bfcb391989896f12b933d8b4);
        
    
        var popup_4ee10efbd6c451b4d197ce0b47bcc047 = L.popup({"maxWidth": "100%"});

        
            
                var html_3a50f7c7d62ec0e3e263ff0e132dccc9 = $(`<div id="html_3a50f7c7d62ec0e3e263ff0e132dccc9" style="width: 100.0%; height: 100.0%;"><i>Next stop: Lorem ipsum</i></div>`)[0];
                popup_4ee10efbd6c451b4d197ce0b47bcc047.setContent(html_3a50f7c7d62ec0e3e263ff0e132dccc9);
            
        

        marker_688fb9d3c9f168e90f1a63d29bd4718e.bindPopup(popup_4ee10efbd6c451b4d197ce0b47bcc047)
        ;

        
    
    
            marker_688fb9d3c9f168e90f1a63d29bd4718e.bindTooltip(
                `<div>
                     Bus Foodies
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_dd65ea923dfebce6936bddd0eae3290a = L.marker(
                [12.968826, 79.157171],
                {}
            ).addTo(map_f403b506bfcb391989896f12b933d8b4);
        
    
        var popup_724e129cffe8361fd1aa76e50aada358 = L.popup({"maxWidth": "100%"});

        
            
                var html_99ae5b75d27c75f7813c80b1e3139a17 = $(`<div id="html_99ae5b75d27c75f7813c80b1e3139a17" style="width: 100.0%; height: 100.0%;"><i>Next stop: Lorem ipsum</i></div>`)[0];
                popup_724e129cffe8361fd1aa76e50aada358.setContent(html_99ae5b75d27c75f7813c80b1e3139a17);
            
        

        marker_dd65ea923dfebce6936bddd0eae3290a.bindPopup(popup_724e129cffe8361fd1aa76e50aada358)
        ;

        
    
    
            marker_dd65ea923dfebce6936bddd0eae3290a.bindTooltip(
                `<div>
                     Bus Library
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3daf8db58c59ff79675991103e14f9f2 = L.marker(
                [12.968561, 79.156234],
                {}
            ).addTo(map_f403b506bfcb391989896f12b933d8b4);
        
    
        var popup_f3737d5fe47d87ec713f5dfcd06ec37e = L.popup({"maxWidth": "100%"});

        
            
                var html_61b8a05a415a15ceb777dd5080622d72 = $(`<div id="html_61b8a05a415a15ceb777dd5080622d72" style="width: 100.0%; height: 100.0%;"><i>Next stop: Lorem ipsum</i></div>`)[0];
                popup_f3737d5fe47d87ec713f5dfcd06ec37e.setContent(html_61b8a05a415a15ceb777dd5080622d72);
            
        

        marker_3daf8db58c59ff79675991103e14f9f2.bindPopup(popup_f3737d5fe47d87ec713f5dfcd06ec37e)
        ;

        
    
    
            marker_3daf8db58c59ff79675991103e14f9f2.bindTooltip(
                `<div>
                     Bus Main gate
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_213c5298b0a7902230617740783a7566 = L.marker(
                [12.969412, 79.155312],
                {}
            ).addTo(map_f403b506bfcb391989896f12b933d8b4);
        
    
        var popup_fe6def4dcd6a400ca847d274f1bfd3e5 = L.popup({"maxWidth": "100%"});

        
            
                var html_6b34d9be08666772b26b73e4adb12087 = $(`<div id="html_6b34d9be08666772b26b73e4adb12087" style="width: 100.0%; height: 100.0%;"><i>Next stop: Lorem ipsum</i></div>`)[0];
                popup_fe6def4dcd6a400ca847d274f1bfd3e5.setContent(html_6b34d9be08666772b26b73e4adb12087);
            
        

        marker_213c5298b0a7902230617740783a7566.bindPopup(popup_fe6def4dcd6a400ca847d274f1bfd3e5)
        ;

        
    
    
            marker_213c5298b0a7902230617740783a7566.bindTooltip(
                `<div>
                     Bus Chettinad health centre
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5e724d9562f912e52be179411b5cbad0 = L.marker(
                [12.969716, 79.155663],
                {}
            ).addTo(map_f403b506bfcb391989896f12b933d8b4);
        
    
        var popup_ed983e52e661c1962144e2292a7b1861 = L.popup({"maxWidth": "100%"});

        
            
                var html_70e7dc64420a897b88163be04171dd6f = $(`<div id="html_70e7dc64420a897b88163be04171dd6f" style="width: 100.0%; height: 100.0%;"><i>Next stop: Lorem ipsum</i></div>`)[0];
                popup_ed983e52e661c1962144e2292a7b1861.setContent(html_70e7dc64420a897b88163be04171dd6f);
            
        

        marker_5e724d9562f912e52be179411b5cbad0.bindPopup(popup_ed983e52e661c1962144e2292a7b1861)
        ;

        
    
    
            marker_5e724d9562f912e52be179411b5cbad0.bindTooltip(
                `<div>
                     Bus Anna Audi
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_53c07c1939933bfffb7a59c21c66936d = L.marker(
                [12.969469, 79.156537],
                {}
            ).addTo(map_f403b506bfcb391989896f12b933d8b4);
        
    
        var popup_fcedcd10f64f14157b1a33f37ebc073a = L.popup({"maxWidth": "100%"});

        
            
                var html_40f4e7907395154c30251d953ed86caf = $(`<div id="html_40f4e7907395154c30251d953ed86caf" style="width: 100.0%; height: 100.0%;"><i>Next stop: Lorem ipsum</i></div>`)[0];
                popup_fcedcd10f64f14157b1a33f37ebc073a.setContent(html_40f4e7907395154c30251d953ed86caf);
            
        

        marker_53c07c1939933bfffb7a59c21c66936d.bindPopup(popup_fcedcd10f64f14157b1a33f37ebc073a)
        ;

        
    
    
            marker_53c07c1939933bfffb7a59c21c66936d.bindTooltip(
                `<div>
                     Bus Library deposit point
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1fef372e0b2274ab24501d4c7dcd518c = L.marker(
                [12.972824, 79.1571],
                {}
            ).addTo(map_f403b506bfcb391989896f12b933d8b4);
        
    
        var popup_6e18bb66e383ab8de6b9f6a38d6d3323 = L.popup({"maxWidth": "100%"});

        
            
                var html_19eced3b2f9753ab0427263c1402e238 = $(`<div id="html_19eced3b2f9753ab0427263c1402e238" style="width: 100.0%; height: 100.0%;"><i>Next stop: Lorem ipsum</i></div>`)[0];
                popup_6e18bb66e383ab8de6b9f6a38d6d3323.setContent(html_19eced3b2f9753ab0427263c1402e238);
            
        

        marker_1fef372e0b2274ab24501d4c7dcd518c.bindPopup(popup_6e18bb66e383ab8de6b9f6a38d6d3323)
        ;

        
    
    
            marker_1fef372e0b2274ab24501d4c7dcd518c.bindTooltip(
                `<div>
                     Bus A block MH
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f260b5d835d6dfde32f6bc5dabc201a2 = L.marker(
                [12.972622, 79.158921],
                {}
            ).addTo(map_f403b506bfcb391989896f12b933d8b4);
        
    
        var popup_9f150ac19ad47ed02e1475cab7ac2568 = L.popup({"maxWidth": "100%"});

        
            
                var html_ef4c3fca60652c11b23e6e2f7e30a2ed = $(`<div id="html_ef4c3fca60652c11b23e6e2f7e30a2ed" style="width: 100.0%; height: 100.0%;"><i>Next stop: Lorem ipsum</i></div>`)[0];
                popup_9f150ac19ad47ed02e1475cab7ac2568.setContent(html_ef4c3fca60652c11b23e6e2f7e30a2ed);
            
        

        marker_f260b5d835d6dfde32f6bc5dabc201a2.bindPopup(popup_9f150ac19ad47ed02e1475cab7ac2568)
        ;

        
    
    
            marker_f260b5d835d6dfde32f6bc5dabc201a2.bindTooltip(
                `<div>
                     Bus Enzo
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>